Index:
  StandardLibrary: No

Documentation:
  CommentFormat: Doxygen

CompileFlags:
  Add:
    - "-std=c++23"
    - "-Wno-c++98-compat-pedantic"
    - "-Wno-missing-prototypes"
    - "-Wno-invalid-command-line-argument"
